<div *ngIf="vm$ | async as vm">
  <table class="table table-bordered table-striped">
    <thead>
      <tr class="bg-dark text-light">
        <th>Greeting Id</th>
        <th>Greeting Name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let g of vm.greetings" (click)="onGreetingClicked(g, vm.selectedGreetingId)"
        [ngClass]="{'bg-info': g.greetingId === vm.selectedGreetingId}"
        class="clickable">
        <td>{{g.greetingId}}</td>
        <td>{{g.greetingText}}</td>
      </tr>
    </tbody>
  </table>
</div>  