<div *ngIf="vm$ | async as vm">
    <table class="table table-bordered table-striped">
      <thead>
        <tr class="bg-dark text-light">
          <th>World Id</th>
          <th>World Name</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let w of vm.worlds" (click)="onWorldClicked(w, vm.selectedWorldId)"
          [ngClass]="{'bg-info': w.worldId === vm.selectedWorldId }"
          class="clickable">
          <td>{{w.worldId}}</td>
          <td>{{w.worldName}}</td>
        </tr>
      </tbody>
    </table>
  </div>  